.details {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  margin-bottom: 12px;
  text-shadow: var(--color-shadow) 1px 10px 10px;
  text-align: right;


  p {
    color: var(--color-gray);
  }
}

.buttonDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;

}

.buttonAddToCart {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  color: var(--color-white);
  background-color: var(--color-darkblue);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 var(--color-shadow);
}
.starsRow {
  display: flex;
}
.detailsHeader {

  display: flex;
  justify-content: space-between;
}
.borderTop {
  border-top: 1px solid #E7E7E7;
  padding-top: 16px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  @media  screen and (max-width: 768px) {
    margin: 0 auto;
    width: 100%;
  }
}
.buttonPreview {
  margin: 20px 0;
  text-align: center;
  width: 100%;
  color: var(--color-gray);
}
.moreDetails {
  display: flex;
  align-content: center;
  margin-top: 26px;
  svg {
    cursor: pointer;
    margin-left: 10px;
  }
  span {
    cursor: pointer;
  }
}
.moreDetailsSubscribe {
  margin-top: 16px;

}