html {
  color-scheme: var(--scheme);
  color: var(--color-text-theme);
  background-color: var( --color-background-theme);
}
button {
  cursor: pointer;
}

:root {
  --color-text: black;
  --color-white: #fff;
  --color-lightgray: #E7E7E7;
  --color-lightblue: #D7E4FD;
  --color-gray: #A8A8A8;
  --color-darkblue: #313037;
  --color-gray-200:  #f1f3f9;
  --color-gray-500:  #8f96a3;
  --color-red: #FC857F;


}
:root[data-theme="light"] {
  --scheme: light;
  --color-text-theme: var(--color-text);
  --color-background-theme: var(--color-white);
}

:root[data-theme="dark"] {
  --scheme: dark;
  --color-text-theme: var(--color-white);
  --color-background-theme: var(--color-text);
}