* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', BlinkMacSystemFont, Helvetica, Arial, cursive;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
}
button {
  margin: 0;
  padding: 0;

  width: auto;
  overflow: visible;

  border: none;
  background: transparent;
  cursor: pointer;

  color: inherit;
  font-size: 100%;
  font-family: inherit;
  text-transform: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;
}

input {
  font-size: inherit;
  font-family: inherit;
}



ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
summary {
  all: unset;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--color-lightgray);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: var(--color-gray-200);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-500);
  border-radius: 8px;
}