.container {
  margin-bottom: 50px;
}
.books{
    margin-top: 16px;
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    width: 100%;

  }
}
.spinner {
  margin-top: 30%;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}