.headerIcons {
  height: 24px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  @media screen and (max-width: 768px) and (min-width: 320px) {
    order: 2;
  }

  a, div {
    width: 24px;
    height: 24px;

  }

  svg {
    cursor: pointer;
  }
}

.dot {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  background-color: var(--color-red);
}

.parentDot {
  position: relative;
  margin-left: 16px;
}
.profileUser {
  margin-left: 16px;
}

.icon__favorite {
  cursor: pointer;
}


