.book {
  width: 352px;

  h2, p {
    margin-top: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  h2 {
    letter-spacing: 2px;
  }

  &__poster {
    background-color: var(--color-lightblue);
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 265px;
      object-fit: contain;
    }
  }

}