.container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  height: 100%;

  border: 1px solid var(--color-lightgray);
  background-color: var(--color-white-in-graphite);


  padding: 16px 20px;
  @media screen and (max-width: 768px) and (min-width: 320px){
    order: 3;
    justify-content: center;
  }
}

.input {
  border: none;
  outline: none;
  background-color: inherit;
  caret-color: var(--color-violet);

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  height: 100%;

  color: var(--color-gray);
}