.container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 32px 0;

  color: var(--color-gray);
  text-transform: none;
  border-top: 1px solid var(--color-lightgray);
  @media screen and (max-width: 468px) {
    flex-direction: column;
  }
}

