.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 50px 50px 0;
  @media screen and (max-width: 468px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__likeMob {
    width: 32px;
    height: 32px;
    background-color: var(--color-text);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
  }

  &__price {
    width: 80px;
  }


  &__image {
    background-color: var(--color-lightblue);
    margin-right: 30px;
    height: 200px;
    position: relative;
    @media screen and (max-width: 768px) {
      width: 200px;
    }
    @media screen and (max-width: 468px) {
      width: 100%;
    }

    img {
      @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px;
      }
      @media screen and (max-width: 468px) {
        width: 100%;
      }
      width: 250px;
      height: 200px;
      object-fit: contain;

    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 16px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__PR {
    display: flex;
    justify-content: flex-start;
    gap: 200px;
    @media screen and (max-width: 768px) {
      gap: 0;
      justify-content: space-between;
    }
  }

  &__Like {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    height: inherit;
    @media screen and (max-width: 768px) {
      padding: 15px 10px;
      align-items: flex-start;
    }


  }
}
