.container__searchPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
  padding: 10px;
}
.container__search {
  padding: 40px;
}
.container__tittle {
  padding-left: 10px;
}